.page-header
  border-bottom 1px solid rgb(221, 221, 221)
  margin-bottom 0
  color black

.page-header a
  color rgb(51, 51, 51)

.page-header a:hover, .page-header a:focus
  text-decoration none

.page-title
  margin-top 0

.book-list
  margin-bottom 0

.btn-group.btn-group-block
  display block
.btn-threequarter
 width 75%
.btn-twothirds
  width 66.666%
.btn-half
  width 50%
.btn-third
  width 33.333%
.btn-quarter
  width 25%

h3.book-summary-title
  margin 0
  font-size 2rem

.book-description-container p
  margin 0

.content-container
  padding 8px

footer.page-footer
  border-top 1px solid #ddd

.credits .media-object
  max-width 64px
  max-height 64px

@media (min-width: 768px) and (max-width: 979px)
  .container
    max-width 900px
  .main, .page-header
    padding-left 8px
    padding-right 8px

@media only screen and (max-width:767px)
  .page-header
    margin 0
    padding-top 10px
    position fixed
    width 100%
    text-align center
    height 60px
    box-shadow -2px 1px 3px 0px #222
    -webkit-box-shadow -2px 1px 2px 1px #ccc
    z-index 999

  .container.root
    margin 0

  .main
    position fixed
    bottom 0
    overflow scroll
    margin 0
    margin-top 60px
    top 0
    width 100%

  .book-list
    margin-top 0

  .responsive-table
    display block !important

  .responsive-table.row
    margin: 0
    border-bottom: 1px solid #ccc

  a:hover, a:focus
    text-decoration none 